@import 'variables.css';

.about-section {
 position: relative;
 min-height: 100vh;
 display: flex;
 align-items: center;
 padding: 6rem 2rem 4rem;
 background: var(--gradient-bg-primary);
 transition: background 0.5s ease;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
}

.about-container {
 max-width: 1280px;
 margin: 0 auto;
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 1rem;
 align-items: center;
 z-index: 4;
}

.about-content {
 display: flex;
 flex-direction: column;
 animation: fadeInUp 0.6s ease forwards;
 height: fit-content;
 backdrop-filter: blur(10px);

 border-radius: 1rem;
 padding: 1rem;
}

.section-title {
 font-size: 2.5rem;
 font-weight: 700;
 text-align: center;
 margin-bottom: 2rem;
 color: var(--color-primary);
 position: relative;
}

.about-title {
 display: block;
 max-width: fit-content;
 font-size: 2.5rem;
 font-weight: 700;
 color: #111827;
 margin-bottom: 0.5rem;
 padding: 0.2rem;
 color: var(--color-primary);
 overflow: hidden;
 white-space: nowrap;
}

.highlight {
 background: var(--gradient-item-primary);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 background-clip: text;
}

.about-subtitle {
 font-size: 1.5rem;
 font-weight: 500;
 color: var(--color-item-primary);
 margin-bottom: 2rem;
}

.about-text {
 font-size: 1.125rem;
 line-height: 1.8;
 color: var(--color-primary);
 margin-bottom: 1.5rem;
}

.about-image {
 animation: fadeInUp 1s ease forwards;
}

.image-placeholder {
 position: relative;
 width: 100%;
 max-width: 400px;
 aspect-ratio: 1;
 margin: 0 auto;
 border-radius: 2rem;
 overflow: hidden;

 box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
}

.image-placeholder::before {
 content: '';
 position: absolute;
 inset: -2px;
 /* background: linear-gradient(135deg, #3b82f6 0%, #06b6d4 100%); */

 border-radius: 2rem;
 backdrop-filter: blur(110px);
 z-index: -1;
}

.profile-image {
 width: 100%;
 height: 100%;
 object-fit: cover;
 display: block;
}

@media (max-width: 1024px) {
 .about-container {
  grid-template-columns: 1fr;
  gap: 3rem;
 }

 .about-content,
 .about-image {
  transform: translateY(30px);
 }

 .about-content.visible,
 .about-image.visible {
  transform: translateY(0);
 }

 .about-title {
  font-size: 2.5rem;
 }

 .image-placeholder {
  max-width: 350px;
 }
}

@media (max-width: 640px) {
 .about-section {
  padding: 5rem 1rem 3rem;
 }

 .about-container {
  gap: 1rem;
  z-index: 4;
  display: flex;
  flex-direction: column-reverse;
 }
 .section-title {
  margin: 1rem;
 }

 .about-title {
  font-size: 1.5rem;
  margin: auto;
 }

 .about-subtitle {
  font-size: 1.25rem;
  margin: auto;
  margin-bottom: 3rem;
 }

 .about-text {
  font-size: 1rem;
  text-align: center;
 }

 .image-placeholder {
  max-width: 300px;
 }
}
