@keyframes fadeInUp {
 from {
  opacity: 0;
  transform: translateY(50px);
 }
 to {
  opacity: 1;
  transform: translateY(0);
 }
}
@keyframes fadeInDown {
 from {
  opacity: 0;
  transform: translateY(-50px);
 }
 to {
  opacity: 1;
  transform: translateY(-10);
 }
}

@keyframes moveUp {
 from {
  transform: translateY(50px);
 }
 to {
  transform: translateY(0);
 }
}
