.header {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 z-index: 5;
 background-color: rgba(255, 255, 255, 0.8);
 backdrop-filter: blur(10px);
 border-bottom: 1px solid rgba(0, 0, 0, 0.1);
 transition: all 0.3s ease;
}

.dark .header {
 background-color: rgba(17, 24, 39, 0.8);
 border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header__container {
 max-width: 1280px;
 margin: 0 auto;
 padding: 1rem 2rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.header__nav {
 display: flex;
 gap: 2rem;
 margin-left: 1rem;
}

.nav-link {
 background: none;
 border: none;
 color: #374151;
 font-size: 1rem;
 font-weight: 500;
 cursor: pointer;
 transition: color 0.2s ease;
 padding: 0.5rem 0;
 position: relative;
 text-wrap: nowrap;
}

.dark .nav-link {
 color: #d1d5db;
}

.nav-link::after {
 content: '';
 position: absolute;
 bottom: 0;
 left: 0;
 width: 0;
 height: 2px;
 background-color: #3b82f6;
 transition: width 0.3s ease;
}

.nav-link:hover {
 color: #3b82f6;
}

.nav-link:hover::after {
 width: 100%;
}

.header__actions {
 width: 100%;
 display: flex;
 gap: 1rem;
 align-items: center;
 justify-content: space-between;
}

.header__links {
 display: flex;
 gap: 1rem;
 align-items: center;
 margin: auto;
}

.header__switches {
 display: flex;
 gap: 0.5rem;
}

.icon-link,
.switch {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 45px;
 height: 45px;
 background: none;
 border-radius: 50%;
 border: none;
 /* color: #374151; */
 cursor: pointer;
 transition: all 0.2s ease;
}

.dark .icon-link,
.dark .switch {
 color: #d1d5db;
}

.icon-link:hover,
.switch:hover {
 background-color: rgba(59, 130, 246, 0.1);
 color: #3b82f6;
}
.menu__switcher {
 display: none;
 margin-left: auto;
}

@media (max-width: 768px) {
 .header__container {
  padding: 1rem;
 }

 .header__nav {
  gap: 1rem;
 }

 .nav-link {
  font-size: 0.9rem;
 }

 .header__actions {
  gap: 0.5rem;
 }

 .header__menu-button {
  display: none;
 }

 .icon-link,
 .theme-toggle {
  width: 36px;
  height: 36px;
 }
}
@media (max-width: 576px) {
 .header__container {
  padding: 1rem;
 }

 .header__nav {
  gap: 1rem;
 }

 .nav-link {
  font-size: 0.9rem;
 }

 .header__actions {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 50%;
  border: solid 2px black;
  height: 100vh;
  background-color: rgba(17, 24, 39, 0.8);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  transition: transform 0.3s linear;

  svg,
  span {
   color: wheat;
  }
 }

 .header__switches {
  margin-bottom: 1rem;
 }

 .header__menu.active {
  transform: translateX(100%);
 }

 .menu__switcher {
  z-index: 2;
  display: block;
 }

 /* .menu-switcher.active {
  transform: translateX(-450%);
 } */

 .icon-link,
 .theme-toggle {
  width: 36px;
  height: 36px;
  gap: 2rem;
 }
}
