@import 'variables.css';

.header {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 z-index: 8;
 background-color: var(--color-bg-primary);
 backdrop-filter: blur(10px);
 border-bottom: 1px solid var(--color-border-primary);
 transition: all 0.3s ease;
}

.header__container {
 max-width: 1280px;
 margin: 0 auto;
 padding: 1rem 2rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.header__menu__contacts {
 display: none;
}

.header__nav {
 display: flex;
 gap: 2rem;
 margin-left: 1rem;
}

.nav-link {
 font-family: 'Bebas Neue';
 background: none;
 border: none;
 color: #374151;
 font-size: 1rem;
 font-weight: 500;
 cursor: pointer;
 transition: color 0.2s ease;
 padding: 0.5rem 0;
 position: relative;
 text-wrap: nowrap;
 color: var(--color-primary);
}

.nav-link::after {
 content: '';
 position: absolute;
 bottom: 0;
 left: 0;
 width: 0;
 height: 2px;
 background-color: var(--color-item-primary);
 transition: width 0.3s ease;
}

.nav-link:hover {
 color: var(--color-item-primary);
}

.nav-link:hover::after {
 width: 100%;
}

.header__actions {
 width: 100%;
 display: flex;
 gap: 1rem;
 align-items: center;
 justify-content: space-between;
}

.header__links {
 display: flex;
 gap: 1rem;
 align-items: center;
 margin: auto;
}

.header__switches {
 display: flex;
 gap: 0.5rem;
}

.link__icon,
.switch {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 45px;
 height: 45px;
 background: none;
 border-radius: 50%;
 border: none;
 cursor: pointer;
 transition: all 0.2s ease;
 color: var(--color-primary);
}

.link__icon:hover,
.switch:hover {
 background-color: var(--color-hover-bg-primary);
 color: var(--color-item-primary);
}
.menu__switcher {
 display: none;
 margin-left: auto;
}

@media (max-width: 768px) {
 .header__container {
  padding: 1rem;
 }

 .header__nav {
  gap: 1rem;
 }

 .nav-link {
  font-size: 0.9rem;
 }

 .header__actions {
  gap: 0.5rem;
 }

 .header__menu-button {
  display: none;
 }

 .link__icon,
 .theme-toggle {
  width: 36px;
  height: 36px;
 }
}
@media (max-width: 576px) {
 .header__container {
  padding: 1rem;
 }

 .header__menu__contacts {
  display: block;
 }

 .header__nav {
  gap: 1rem;
 }

 .nav-link {
  font-size: 1.5rem;
  padding: 0.2rem 0;
 }

 .header__actions {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column-reverse;

  width: 50%;
  border: solid 2px black;
  height: 100vh;
  background-color: var(--color-bg-primary);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  transition: transform 0.3s linear;

  svg,
  span {
   color: var(--text-color);
  }
 }

 .header__links {
  margin-top: 70%;
  padding: 1rem;
 }

 .header__switches {
  margin-top: 1rem;
  margin-right: auto;
  margin-left: 1rem;
 }

 .header__menu.active {
  transform: translateX(100%);
 }

 .menu__switcher {
  z-index: 2;
  display: block;
 }

 .link__icon {
  display: none;
 }

 .theme-toggle {
  width: 36px;
  height: 36px;
  gap: 2rem;
 }
}
