@font-face {
 font-family: 'Bebas Neue';
 src: url(../fonts/Bebas_Neue_Cyrillic/bebasneuecyrillic.ttf);
}

@font-face {
 font-family: 'Raleway';
 src: url(../fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf);
}
@font-face {
 font-family: 'Jaro';
 src: url(../fonts/Jaro/Jaro-Regular-VariableFont_opsz.ttf);
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html {
 scroll-behavior: smooth;
}

body {
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif,
  'Bebas Neue';
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 transition: background-color 0.3s ease, color 0.3s ease;
 background: var(--color-bg-primary);
}
